/GlossarPlugin*
pub/System/GlossarPlugin/jquery.thesaurus.js
pub/System/GlossarPlugin/jquery.thesaurus_de.js
pub/System/GlossarPlugin/jquery.thesaurus_en.js
pub/System/GlossarPlugin/xregexp.js
pub/System/GlossarPlugin/unicode-base.js
